.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape {
}
.horizontal_line {
}
.background-5 {
}
.windows_title_bar {
  font-size:14px;
  color:#333333;
  text-align:left;
}
.box_1 {
}
.box_3 {
}
.image {
}
.primary_button {
  color:#FFFFFF;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.flow_shape {
}
.tree_node {
  text-align:left;
}
.menu_item {
}
.connector {
}
.icon {
}
.image1 {
  font-size:13px;
  color:#000000;
}
.paragraph1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.shape1 {
  font-size:13px;
  color:#000000;
}
.text_field1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.vertical_line {
}
.table {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.table_cell {
  font-size:13px;
  color:#000000;
}
.fontawesome {
}
.paragraph2 {
  text-align:left;
}
.list_box1 {
  font-size:14px;
  color:#000000;
  text-align:left;
}
.table1 {
  font-size:14px;
}
.table_cell1 {
  font-size:14px;
  text-align:left;
}
.shape2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ellipse {
}
.label {
  font-size:14px;
  text-align:left;
}

#instituto {
  background-color:blue;
}